.listTable-search {
  text-align: left;
  input {
    width: 250px;
    height: 35px;
    padding: 0.5rem;
    border-radius: 5px;
    color: map-get($colors, logoGrey);
    font-size: 1rem;
    border: 1px solid lightgray;
    outline: 1px solid lightgray;
    &:focus {
      border: 1px solid mediumpurple;
      outline: 2px solid mediumpurple;
    }
    &::placeholder {
      font-size: 0.8rem;
      color: lightgray;
    }
  }
}
