.listTable-nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-arrow {
  cursor: pointer;
  background-color: lighten(mediumpurple, 5%);
  color: white;
  font-size: 0.8rem;
  width: 120px;
  height: 33px;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  &:hover {
    background-color: lighten(mediumpurple, 15%);
    font-size: 0.9rem;
  }
}

.nav-arrow--disabled {
  cursor: default;
  width: 120px;
  height: 33px;
  font-style: italic;
  font-size: 0.7rem;
  background-color: lighten(grey, 44%);
  color: lighten(grey, 30%);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
