.listTable-headRow {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5%;
  justify-content: flex-start;
  align-items: center;
  .headRow-data {
    display: flex;
    font-size: 0.8rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    padding: 0.4rem 0rem;
    margin: 0;
    margin-bottom: 0.4rem;
    background-color: lighten(grey, 30%);
    color: white;
    border-radius: 5px;
  }
  .headRow-iconsSort {
    cursor: pointer;
    padding: 0rem 0.3rem;
  }
}
