@import "../../style/utils";

.pageCreate_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newEmployee_form {
  width: fit-content;
  margin-top: 3rem;
  @include responsiveTabloids {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include responsivePhones {
    margin-top: 2rem;
  }
  fieldset {
    padding: 3rem 1rem;
    margin: 1rem 0rem;
    color: map-get($colors, logoBlue);
    border: 4px double map-get($colors, logoBlue);
    border-radius: 10px;
    @include responsiveTabloids {
      padding: 1.5rem 4%;
      width: 100%;
      border-radius: 0px;
      label {
        color: map-get($colors, ice);
      }
      #streetNumber,
      #street,
      #city,
      #state,
      #zipCode {
        border-color: map-get($colors, ice);
      }
      border: none;
      background-color: map-get($colors, logoBlue);
      margin-top: -1rem;
    }
    legend {
      font-size: map-get($sizes, l);
      @include responsiveTabloids {
        color: map-get($colors, ice);
        padding-top: 50px;
      }
    }
  }
}

.newEmployeeForm_identity,
.newEmployeeForm_department {
  @include responsiveTabloids {
    width: 85%;
  }
}
.newEmployeeFieldset_address {
  @include responsiveTabloids {
    width: 95%;
    padding: 0px 5%;
  }
}

.input-error-message {
  width: 150px;
  margin: 0;
  padding: 1rem;
  font-size: map-get($sizes, xs);
  text-align: left;
  color: map-get($colors, blood);
  @include responsiveTabloids {
    text-align: center;
    padding: 0.5rem;
  }
}

.default-option {
  color: map-get($colors, logoBlue);
  font-style: italic;
  font-weight: 700;
}
