@import "../../style/utils";

.pageCreate_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newEmployee_form {
  width: fit-content;
  margin-top: 3rem;
  @include responsiveTabloids {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include responsivePhones {
    margin-top: 2rem;
  }
  fieldset {
    padding: 3rem 1rem;
    margin: 1rem 0rem;
    color: map-get($colors, logoBlue);
    border: 4px double map-get($colors, logoBlue);
    border-radius: 10px;
    @include responsiveTabloids {
      padding: 1.5rem 4%;
      width: 100%;
      border-radius: 0px;
      label {
        color: map-get($colors, ice);
      }
      #streetNumber,
      #street,
      #city,
      #state,
      #zipCode {
        border-color: map-get($colors, ice);
      }
      border: none;
      background-color: lighten(map-get($colors, logoBlue), 15%);
      margin-top: -1rem;
    }
    legend {
      font-size: map-get($sizes, l);
      @include responsiveTabloids {
        color: map-get($colors, ice);
        padding-top: 50px;
      }
    }
  }
}

.newEmployeeForm_identity,
.newEmployeeForm_department {
  @include responsiveTabloids {
    width: 85%;
  }
}
.newEmployeeFieldset_address {
  @include responsiveTabloids {
    width: 95%;
    padding: 0px 5%;
  }
}

.input-error-message {
  width: 150px;
  margin: 0;
  padding: 0.8rem;
  text-align: center;
  font-size: map-get($sizes, xs);
  text-align: left;
  color: map-get($colors, blood);
  @include responsiveTabloids {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
  }
}

// Custom style for plugin scrollingSelect

.scrollingSelect-container {
  .scrollingSelect-scrollingMenu {
    border: 2px solid map-get($colors, logoGrey);
    @include fontFamily;
    font-size: map-get($sizes, base);
    font-weight: 700;
    color: map-get($colors, logoBlue);
    background-color: map-get($colors, ice);
    &:focus {
      border: 1px solid map-get($colors, logoBlue);
      outline: 3px solid map-get($colors, logoBlue);
    }
    &::placeholder {
      color: lighten(map-get($colors, logoGrey), 0%);
    }
  }
  label {
    color: map-get($colors, logoBlue);
  }
}

.scrollingSelect-defaultOption {
  color: map-get($colors, logoBlue);
}

.scrollingSelect-errorMessage {
  font-size: map-get($sizes, xs);
  color: map-get($colors, blood);
  @include responsiveTabloids {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
  }
}

// Custom style for plugin fullscreen-modale

#modale-inner-container--customize {
  background-color: map-get($colors, logoBlue);
  color: map-get($colors, ice);
  outline: 2px solid white;
}

#modale-icon--customize {
  background-color: map-get($colors, ice);
  color: map-get($colors, logoBlue);
  width: 17px;
  height: 17px;
  line-height: 17px;
  padding: 0;
  font-weight: 700;
  border-radius: 50%;
}
