@import "../../style/utils";

.pageList_main h1 {
  color: map-get($colors, lightLeaf);
}
// Style custom for plugin tableList
.listTable-search {
  input {
    color: map-get($colors, darkLeaf);
    border: 1px solid map-get($colors, lightLeaf);
    outline: 1px solid map-get($colors, lightLeaf);
    &:focus {
      outline: 2px solid map-get($colors, lightLeaf);
    }
    &::placeholder {
      color: darken(map-get($colors, darkMouse), 10%);
    }
  }
}

.listTable-headRow {
  .headRow-data {
    background-color: map-get($colors, darkLeaf);
    color: map-get($colors, ice);
  }
}
.listTable-nav {
  p {
    color: map-get($colors, lightLeaf);
  }
}
.nav-arrow {
  background-color: map-get($colors, lightLeaf);
  color: map-get($colors, ice);
  &:hover {
    background-color: map-get($colors, darkLeaf);
    box-shadow: inset 0px 0px 10px 0px map-get($colors, whiteGreen);
  }
}
.nav-arrow--disabled {
  background-color: lighten(map-get($colors, lightMouse), 8%);
  color: map-get($colors, darkMouse);
}

.listTable-bodyRow {
  color: map-get($colors, darkLeaf);
  background-color: map-get($colors, lightLeaf);
  @include responsivePhones {
    flex-direction: column;
  }

  .bodyRow-content {
    background-color: lighten(map-get($colors, whiteGreen), 8%);
    width: 50%;
    border: 1px dotted map-get($colors, lightLeaf);
    @include responsivePhones {
      width: 100%;
    }
    &:nth-child(1),
    &:nth-child(2) {
      background-color: map-get($colors, lightLeaf);
      @include responsivePhones {
        width: 100%;
      }
      span {
        width: 50%;
        color: map-get($colors, ice);
      }
      span:nth-child(2) {
        font-size: 1.2rem;
        @include responsivePhones {
          text-align: right;
        }
      }
    }
  }

  .bodyRowContent-label {
    font-style: italic;
    color: map-get($colors, lightLeaf);
  }

  .bodyRowContent-value {
    color: map-get($colors, darkLeaf);
    @include responsivePhones {
      text-align: right;
    }
  }

  .bodyRowContent--delete {
    background-color: map-get($colors, lightMouse);
    color: lighten(map-get($colors, darkLeaf), 10%);
    &:hover {
      background-color: map-get($colors, darkMouse);
      color: map-get($colors, ice);
    }
  }
}
