@import "../../style/utils";

#modale-inner-container--customize {
  background-color: map-get($colors, logoBlue);
  color: map-get($colors, ice);
  outline: 2px solid white;
}

#modale-icon--customize {
  background-color: map-get($colors, ice);
  color: map-get($colors, logoBlue);
  font-weight: 700;
  padding-right: 0.5px;
}
