@import "../../style/utils";

.modale {
  position: fixed;
  z-index: 999;
  display: flex;
  overscroll-behavior: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  .inner-modale {
    position: relative;
    border-radius: 10px;
    padding: 4rem;
    background-color: map-get($colors, ice);
  }
}

.modale-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: 0;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  background-color: map-get($colors, logoBlue);
  text-align: center;
  color: map-get($colors, ice);
  border-radius: 50%;
  cursor: pointer;
}
