@import "../../style/utils";

.newEmployeeForm_buttons {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0px;
  @include responsiveTabloids {
    width: 85%;
    justify-content: space-between;
  }
  button {
    cursor: pointer;
    width: 90px;
    padding: 0.4rem;
    border-radius: 5px;
    border: none;
    background: map-get($colors, logoBlue);
    color: map-get($colors, ice);
    font-size: map-get($sizes, base);
    &:hover {
      background: map-get($colors, lightmouse);
      color: map-get($colors, logoBlue);
      box-shadow: 1px 1px 4px map-get($colors, logoGrey);
    }
  }
}
