@import "./default";

@import "../components/mainNav/mainNav";
@import "../components/footer/footer";

@import "../pages/homepage/homepage";
@import "../pages/createEmployee/createEmployee";

@import "../components/formButtons/formButtons";
@import "../components/validationModale/validationModale";
@import "../components/inputDatepicker/inputDatepicker";
