@import "../../style/utils";

.newEmployeeForm_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  @include responsiveTabloids {
    flex-direction: column;
    margin: 0;
  }
}

.employeeFormItem-input {
  width: 280px;
  height: 40px;
  border: 2px solid map-get($colors, logoGrey);
  border-radius: 5px;
  @include fontFamily;
  font-size: map-get($sizes, base);
  font-weight: 700;
  color: map-get($colors, logoBlue);
  text-align: center;
  background-color: map-get($colors, ice);
  @include responsiveTabloids {
    width: 100%;
  }
  &:focus {
    border: 1px solid map-get($colors, logoBlue);
    outline: 3px solid map-get($colors, logoBlue);
  }
  &::placeholder {
    color: lighten(map-get($colors, logoGrey), 0%);
    font-style: italic;
    font-weight: 300;
    font-size: 0.8rem;
  }
}
label {
  width: 150px;
  padding: 1rem;
  text-align: left;
  color: map-get($colors, logoBlue);
  @include responsiveTabloids {
    text-align: center;
    padding: 0.5rem;
  }
}
