@import "../../style/utils";

.homepage_main {
  h1 {
    color: map-get($colors, darkLeaf);
    font-size: map-get($sizes, l);
    font-weight: 700;
    padding: 0px 10%;
    margin-bottom: 2rem;
    @include responsiveTabloids {
      padding: 0px 4%;
      margin-bottom: 1rem;
    }
  }
  h2 {
    font-size: 1.5rem;
  }
  img {
    width: 100%;
    object-fit: contain;
  }
  .icon-tool {
    font-size: 10rem;
    margin-bottom: 2rem;
    @include responsiveTabloids {
      font-size: 10rem;
      margin-bottom: 1rem;
    }
  }
}
