@import "../../style/utils";

.homepage_main {
  h1 {
    color: map-get($colors, logoBlue);
    font-size: map-get($sizes, l);
    padding: 0px 10%;
    margin-bottom: 2rem;
    @include responsiveTabloids {
      color: map-get($colors, logoBlue);
      font-size: map-get($sizes, l);
      padding: 0px 4%;
      margin-bottom: 1rem;
    }
  }
  img {
    width: 80%;
    height: 100px;
    object-fit: contain;
    @include responsiveTabloids {
      width: 50%;
    }
  }
  .icon-tool {
    font-size: 10rem;
    margin-bottom: 2rem;
    @include responsiveTabloids {
      font-size: 10rem;
      margin-bottom: 1rem;
    }
  }
}
